.topicos {
   background: var(--azul-degrade);
   text-align: center;
   margin: 0;

}

.topicos__item {
   background: var(--laranja);
   border-radius: 5px;;
   margin: 0.5em .5em 0 0;
   padding: .5em;
}

.topicos__titulo {
   color: var(--branco);
   font-weight: 300;
   line-height: 24px;
   padding: 1rem;

}

.topicos__link {
   color: var(--branco);
   font-weight: 700;
   font-size: 14px;
   line-height: 21px;
   text-decoration: none;
}

.topicos__lista {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1em 2em;
   padding: 0 0 1.5em 0;
}